.login-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: white;
  margin-top: 80px;
  height: 450px;
  box-shadow: 1px 1px 0.5px 0.5px rgb(191, 190, 190);
}
.img-container {
  width: 50%;
  height: 450px;
}
.img {
  width: 100%;
  height: 450px;
}
.input-holder {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.div1 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login-input,
.signup-input {
  width: 100%;
  outline: 0;
  padding: 5px;
  padding-top: 2px;
  border: none;
  border-bottom: 1px grey solid;
}
.div2,
.signup-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 10px; */
  width: 60%;
}
.login-btn,
.signup-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px rgb(82, 82, 252) solid;
  padding: 8px;
  font-weight: 600;
  background-color: rgb(82, 82, 252);
  color: white;
  margin-top: 10px;
}

.login-btn:hover,
.signup-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(82, 82, 252);
  border: 1px rgb(82, 82, 252) solid;
}
.div2,
.signup-container > label {
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
.login-icon {
  color: black;
  display: inline-block;
  width: 100%;
  font-weight: lighter;
  font-size: 70px;
}
.signup-link {
  text-align: center;
  margin-top: 10px;
}
.signup-link > span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.loggedErrorMsg {
  color: red;
  text-align: center;
  /* margin-left: 100px; */
}
#forgot-pass {
  color: blue;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}
